crds:
  enabled: false

prometheusOperator:
  admissionWebhooks:
    enabled: false

grafana:
  adminPassword: admin
  service:
    type: ClusterIP
  ingress:
    enabled: false   # if you keep your separate grafana-ingress app

prometheus:
  prometheusSpec:
    storageSpec:
      emptyDir: {}
    retention: 10d
    scrapeInterval: 30s
    evaluationInterval: 30s
    resources:
      requests:
        cpu: 200m
        memory: 512Mi

alertmanager:
  enabled: true

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true 