grafana:
  adminPassword: "admin"
  service:
    type: ClusterIP
  ingress:
    enabled: true

prometheus:
  prometheusSpec:
    retention: 10d
    scrapeInterval: 30s
    evaluationInterval: 30s
    resources:
      requests:
        cpu: 200m
        memory: 512Mi

alertmanager:
  enabled: true

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true