apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-observability-prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "30"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 66.2.1
    helm:
      releaseName: kube-prometheus-stack
      values: |
        grafana:
          adminPassword: admin
          service:
            type: ClusterIP
          ingress:
            enabled: true
            ingressClassName: nginx
            hosts:
              - grafana.home.arpa

        prometheus:
          prometheusSpec:
            retention: 10d
            scrapeInterval: 30s
            evaluationInterval: 30s
            resources:
              requests:
                cpu: 200m
                memory: 512Mi

        alertmanager:
          enabled: true

        kubeStateMetrics:
          enabled: true

        nodeExporter:
          enabled: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
