apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hello
  namespace: hello
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - hello.home.arpa
      secretName: wildcard-home-arpa-tls
  rules:
    - host: hello.home.arpa
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: hello
                port:
                  number: 80
                  